# Project Specific
bin/
benchmarks
cov.out
cpu.out
*.test
integration_tests/BenchMarks.txt
integration_tests/list_tests_in_progress.txt
rust_vm_bin/

# Local Env Specific
.python-version
.DS_Store
.idea/
vendor/
